/* screen - web-1920-9 */

.web-1920-9 {
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 2251px;
  padding: 73px 0;
  width: 1920px;
}
.web-1920-9 .about-us {
  letter-spacing: 0;
  line-height: 35px;
  min-height: 49px;
  min-width: 170px;
  white-space: nowrap;
}
.web-1920-9 .avengers {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 157px;
  margin-top: 227px;
  min-height: 49px;
  white-space: nowrap;
}
.web-1920-9 .avengers-2020-docu {
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2.0px;
  margin-top: 59px;
  min-height: 331px;
  min-width: 1612px;
  width: 1612px;
}
.web-1920-9 .downloads {
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 15px;
  min-height: 49px;
  min-width: 224px;
  white-space: nowrap;
}
.web-1920-9 .facebook-icon-preview-1 {
  height: 109px;
  left: 178px;
  object-fit: cover;
  position: absolute;
  top: 44px;
  width: 109px;
}
.web-1920-9 .faq {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 95px;
  white-space: nowrap;
}
.web-1920-9 .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: -1.0px;
  margin-left: 192px;
  min-height: 122px;
  width: 107px;
}
.web-1920-9 .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: -1.0px;
  margin-left: 129px;
  min-height: 122px;
  width: 224px;
}
.web-1920-9 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -1.0px;
  margin-left: 249px;
  min-height: 122px;
  width: 126px;
}
.web-1920-9 .group-15 {
  align-items: flex-end;
  display: flex;
  margin-left: 2.0px;
  min-width: 1614px;
}
.web-1920-9 .group-16 {
  align-items: flex-end;
  display: flex;
  margin-top: 32px;
  min-width: 1616px;
}
.web-1920-9 .group-2 {
  align-items: flex-end;
  background-color: var(--science-blue);
  border-radius: 21px;
  cursor: pointer;
  display: flex;
  height: 68px;
  justify-content: flex-end;
  margin-bottom: 19px;
  margin-left: 184px;
  min-width: 259px;
  padding: 8px 72px;
}
.web-1920-9 .group-3 {
  align-items: flex-end;
  background-color: var(--science-blue);
  border-radius: 21px;
  cursor: pointer;
  display: flex;
  height: 68px;
  justify-content: flex-end;
  margin-bottom: 19px;
  margin-left: 184px;
  min-width: 259px;
  padding: 9px 50px;
}
.web-1920-9 .group-4 {
  align-items: flex-end;
  background-color: var(--science-blue);
  border-radius: 21px;
  cursor: pointer;
  display: flex;
  height: 68px;
  justify-content: flex-end;
  margin-bottom: 20px;
  min-width: 259px;
  padding: 9px 43px;
}
.web-1920-9 .group-5 {
  align-items: flex-start;
  display: flex;
  margin-left: 184px;
  min-width: 287px;
}
.web-1920-9 .icaddtoqueue24px {
  cursor: pointer;
  height: 71px;
  margin-left: 1.26px;
  object-fit: cover;
  width: 99px;
}
.web-1920-9 .icairplay24px {
  cursor: pointer;
  height: 63px;
  object-fit: cover;
  width: 107px;
}
.web-1920-9 .icfiledownload24px {
  height: 162px;
  object-fit: cover;
  width: 180px;
}
.web-1920-9 .icmovie24px {
  cursor: pointer;
  height: 58px;
  margin-right: 3.44px;
  object-fit: cover;
  width: 111px;
}
.web-1920-9 .image-1 {
  height: 78px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 78px;
}
.web-1920-9 .instagramorigin-194901224047116 {
  height: 152px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 152px;
}
.web-1920-9 .login {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 3.0px;
  margin-top: 16px;
  min-height: 42px;
  min-width: 91px;
  white-space: nowrap;
}
.web-1920-9 .overlap-group {
  align-items: flex-end;
  background-image: url(../img/henry-co-21ht36zwln8-unsplash-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 1071px;
  margin-left: 1.0px;
  margin-top: 42px;
  min-width: 1607px;
  padding: 438.2px 712.9px;
}
.web-1920-9 .overlap-group1 {
  height: 137px;
  margin-bottom: -2px;
  margin-left: 256px;
  position: relative;
  width: 59px;
}
.web-1920-9 .overlap-group1-1 {
  height: 153px;
  position: relative;
  width: 287px;
}
.web-1920-9 .place {
  letter-spacing: 0;
  line-height: 35px;
  min-height: 49px;
  min-width: 157px;
  white-space: nowrap;
}
.web-1920-9 .signup {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 8px;
  min-height: 42px;
  min-width: 126px;
  text-align: center;
  white-space: nowrap;
}
.web-1920-9 .square-eyes-logo {
  cursor: pointer;
  height: 144px;
  object-fit: cover;
  width: 271px;
}
.web-1920-9 .terms {
  letter-spacing: 0;
  line-height: 35px;
  min-height: 49px;
  min-width: 113px;
  white-space: nowrap;
}
.web-1920-9 .text-11 {
  cursor: pointer;
  left: 10px;
  letter-spacing: 0;
  line-height: 86px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}
